.song-progress-container {
  display: flex;
  justify-content: center;
  color: #fff;
  margin: 0 10px;
}

.timer-end,
.timer-start {
  font-size: 12px;
  position: relative;
  top: -5px;
}

.timer-start {
  left: -10px;
}

.timer-end {
  left: 10px;
}

.song-progress {
  width: 500px;
  height: 4px;
  background: #404040;
  border-radius: 4px;
}

.song-expired {
  margin: 0;
  width: 100px;
  height: 4px;
  background: #1db954;
  border-radius: 4px;
  width: 0px;
}
