.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0px;
}

.dropdown {
  width: 20px;
  height: 20px;
}

.dropdown__svg {
  width: 20px;
  height: 20px;
}

.list {
  width: 20px;
  height: 20px;
}

.list__svg {
  width: 20px;
  height: 20px;
}
